{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "node/no-extraneous-import": "off",
    "guard-for-in": "off",
    "unicorn/filename-case": [
      "error",
      {
        "cases": {
          "kebabCase": true,
          "camelCase": true,
          "pascalCase": true
        }
      }
    ]
  }
}
